
#xcode specific
build/*
*.pbxuser
*.mode2v3
*.mode1v3
*.perspective
*.perspectivev3
*~.nib
xcuserdata
project.xcworkspace

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
source/app-mockup-project/.DS_Store

source/app-project/.DS_Store

source/app-project/CrossFitter/CrossFitter/Resources/.DS_Store

source/app-project/CrossFitter/CrossFitter/Resources/Images/.DS_Store

source/app-project/CrossFitter/CrossFitter/UI/Helper/.DS_Store

source/app-project/CrossFitter/CrossFitter/en.lproj/.DS_Store
